<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <!-- 版权信息 -->
            <div class="footer-copyright">
                <p class="copyright">© 2025  <a href="https://ongwu.cn">Ongwu博客</a> .All rights reserved | Powered by <a href="https://ongwu.cn">Ongwu</a> | Theme by <a href="https://github.com/ongwu/ongwu-hexo-theme">ongwu-hexo-theme</a></p>
            </div>
        </div>
    </div>
</footer>
